header{
    width: 100%;
    position: fixed;
    z-index: 100;
    @include transition(.5s);
    top: -104px;
    .header-wrap{
        @include inner-center($innerWidth);
        @include flex-space-start;
        position: relative;
        .logo{
            margin: 30px 0;
            width: 120px;
            height: 44px;
            @include bg-contain("../images/common/logo_white.svg");
            // @include transition(.5s);
        }
        #gnb{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #Fff;
            font-weight: 700;
            margin-right: 50px;
            >li{
                position: relative;
                height: 100%;
                @include transition(.5s);
                text-align: center;
                >a{
                    padding: 40px 35px 25px;
                    font-size: 18px;
                    display: inline-block;
                    height: 100%;
                    position: relative;
                    min-width: 130px;
                }
                .sub-menu{
                    top: 88px;
                    @include pos-x-center;
                    width: 100%;
                    font-size: 14px;
                    position: absolute;
                    background-color: #000;
                    padding: 25px 0 30px;
                    border-radius: 0  0 20px 20px;
                    opacity: 0;
                    pointer-events: none;
                    @include transition(.5s);
                    li{
                        margin-bottom: 15px;
                        &:nth-last-child(1){
                            margin-bottom: 0;
                        }
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        top: -1.5px;
                        @include pos-x-center;
                        width: 3px;
                        height: 3px;
                        border-radius: 50%;
                        background-color: #fff;
                        opacity: 0;
                        @include transition(.5s);
                    }

                }
                &.hover{
                    background-color: #000;
                    .sub-menu{
                        opacity: 1;
                        pointer-events: visible;
                        &::before{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .lang{
            position: absolute;
            right: -30px;
            @include flex-column-center;
            top: 0;
            padding: 42px 35px 30px;
            @include transition(.5s);
            border-radius: 0 0 20px 20px;
            .icon{
                width: 20px;
                height: 20px;
                svg{
                    @include fullsize;
                    path{
                        @include transition(.5s);
                    }
                }
            }
            ul{
                padding-top: 50px;
                opacity: 0;
                color: #fff;
                @include transition(.5s);
                font-size: 14px;
                position: relative;
                li{
                    margin-bottom: 15px;
                    &:nth-last-of-type(1){
                        margin-bottom: 0;
                    }
                }
                &::before{
                    content: "";
                    position: absolute;
                    top: 25px;
                    @include pos-x-center;
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    background-color: #fff;
                    opacity: 0;
                    @include transition(.5s);
                }
            }
            &:hover{
                background-color: #000;
                ul{
                    opacity: 1;
                    &::before{
                        opacity: 1;
                    }
                }
            }

        }
        .menuicon{
            width: 32px;
            height: 18px;
            position: relative;
            cursor: pointer;
            display: none;
            span{
                position: absolute;
                width: 100%;
                height: 2.5px;
                background-color: #fff;
                transition: .3s;
                left: 50%;
                transform-origin: center;
                transform: translateX(-50%);
                border-radius: 2px;
                &:nth-child(1){
                    top: 0px;
                }
                &:nth-child(2){
                    top: 50%;
                    transform: translate(-50%,-50%);
                }
                &:nth-child(3){
                    top: calc(100% - 2px);
                }
            }
            &.active{
                span{
                    &:nth-child(1){
                        top: 50%;
                        transform: translate(-50%,-50%) rotate(45deg);
                    }
                    &:nth-child(2){
                        opacity: 0;
                    }
                    &:nth-child(3){
                        top: 50%;
                        transform: translate(-50%,-50%) rotate(-45deg);
                    }
                }
            }
        }
        .moblie_menu_wrap{
            display: none;
        }
    }
    &.active{
        background-color: #fff;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
        .header-wrap{
            .logo{
                background-image: url(../images/common/logo_black_header.svg);
            }
            #gnb{
                color: #000;
                >li{
                    .sub-menu{
                        background-color: #fff;
                    }
                    &.hover{
                        background-color: #Fff;
                    }
                }
            }
            .lang{
                .icon{
                    svg{
                        path{
                            stroke: #000;
                        }
                    }
                }
                ul{
                    color: #000;
                }
                &:hover{
                    background-color: #Fff;
                }
            }
            .menuicon{
                span{
                    background-color: #000;
                }
            }
        }
    }
    &.scroll{
        top: 0px;
    }
}

footer{
    background-color: #000;
    padding: 80px 0 100px;
    .footer-wrap{
        @include inner-center($innerWidth);
        .top{
            color: #Fff;
            @include flex-space-center;
            padding-bottom: 30px;
            border-bottom: 1px solid #737373;
            ul{
                @include flex-center;
                gap: 50px;
                font-size: 16px;
                font-weight: 700;
                li{
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        @include pos-y-center;
                        left: -26.5px;
                        width: 3px;
                        height: 3px;
                        border-radius: 50%;
                        background-color: #Fff;
                    }
                    &:first-child{
                        &::before{
                            display: none;
                        }
                    }
                }
            }
        }
        .bottom{
            color: #737373;
            padding-top: 60px;
            font-size: 14px;
            address{
                @include flex-start;
                flex-wrap: wrap;
                max-width: 440px;
                width: 100%;
                margin-bottom: 20px;
                font-weight: 500;
                line-height: 1.6;
            }
            .copy{
                font-weight: 700;
            }

        }

    }
}

@media (max-width:1460px){
    header{
        .header-wrap{
            margin: 0;
            padding: 0 5%;
            .logo{
                margin: 25px 0 0;
            }
            #gnb{
                >li{
                    >a{
                        padding: 30px 35px 30px;
                        font-size: 16px;
                    }
                    .sub-menu{
                        top: 81px;
                        li{
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            .lang{
                right: 30px;
                padding: 32px 35px 30px;
            }
        }
    }
    footer{
        padding: 70px 0 90px;
        .footer-wrap{
            margin: 0;
            padding: 0 5%;
            .top{
                padding-bottom: 20px;
            }
            .bottom{
                padding-top: 40px;
            }
        }
    }
}

@media (max-width: 1024px){
    header{
        @include transition(.5s);
        padding: 25px 0;
        .header-wrap{
            align-items: center;
            .logo{
                margin: 0;
            }
            #gnb{
                width: 100%;
                height: calc(100% - 69px);
                position: fixed;
                right: -100%;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                top: 62px;
                padding: 0 5%;
                background-color: #000;
                color: #fff;
                @include transition(.5s);
                padding-top: 60px;
                margin-right: 0;
                opacity: 0;
                >li{
                    text-align: left;
                    height: initial;
                    margin-bottom: 35px;
                    >a{
                        padding: 0;
                        min-width: initial;
                        height: initial;
                        margin-bottom: 20px;
                        font-size: 34px;
                        font-weight: 700;
                    }
                    .sub-menu{
                        display: none;
                        opacity: 1;
                        pointer-events: visible;
                        background-color: initial;
                        padding: initial;
                        border-radius: initial;
                        @include pos-unset;
                        font-size: 20px;
                        @include transition(unset);
                        padding-left: 25px;
                        li{
                            margin-bottom: 15px;
                            color: #737373;
                            @include transition(.5s);
                            &:hover{
                                color: #fff;
                            }
    
                        }
                        &::before{
                            display: none;
                        }
                    }
                }
            }
            .menuicon{
                display: block;
                margin-top: 0;
            }
            .lang{
                position: fixed;
                right: -100%;
                flex-direction: row;
                top: 0;
                padding: 0;
                background-color: #000;
                width: 100%;
                border-radius: 0;
                padding: 40px 5%;
                justify-content: flex-start;
                opacity: 0;
                padding-bottom: 0;
                img{
                    width: 22px;
                    height: 22px;
                }
                ul{
                    margin-left: 15px;
                    padding-top: 0;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    opacity: 1;
                    font-size: 18px;
                    gap: 22px;
                    li{
                        margin-bottom: 0;
                        color: #737373;
                        @include transition(.3s);
                        position: relative;
                        font-weight: 700;

                        &:hover{
                            color: #fff;
                        }
                        &::after{
                            content: "";
                            width: 1px;
                            height: 80%;
                            background-color: #737373;
                            position: absolute;
                            @include pos-y-center;
                            right: -10px;
                        }    
                        &:nth-last-of-type(1){
                            &::after{
                                display: none;
                            }
                        }
                    }
                    &::before{
                        display: none;
                    }
                }
            }
            .moblie_menu_wrap{
                background-color: #000;
                display: block;
                position: fixed;
                width: 100%;
                padding: 40px 5%;
                right: -100%;
                bottom: 0;
                color: #737373;
                font-size: 16px;
                @include transition(.5s);
                opacity: 0;
                ul{
                    li{
                        margin-bottom: 5px;
                        @include flex-start-center;
                        flex-wrap: wrap;
                        gap: 5px 10px;
                        font-weight: 500;
                        line-height: 1.5;
                        &:nth-last-of-type(1){
                            margin-bottom: 0;
                        }
                    }
                }
                .copy{
                    margin-top: 20px;
                    font-weight: 600;
                }
            }
        }
        &.active{
            background-color: #fff;
            .header-wrap{
                .logo{
                    background-image: url(../images/common/logo_black_header.svg);
                }
                #gnb{
                    color: #fff;
                    >li{
                        .sub-menu{
                            background-color: #000;
                        }
                        &.hover{
                            background-color: #000;
                        }
                    }
                }
                .lang{
                    .icon{
                        width: 18px;
                        height: 18px;
                        svg{
                            path{
                                stroke: #fff;
                            }
                        }
                    }
                    ul{
                        color: #fff;
                    }
                    &:hover{
                        background-color: #000;
                    }
                }
                .menuicon{
                    span{
                        background-color: #000;
                    }
                }
            }
        }
        &.on{
            .header-wrap{
                .lang{
                    right: 0%;
                    opacity: 1;
                }
                #gnb{
                    right: 0%;
                    opacity: 1;
                }
                .moblie_menu_wrap{
                    right: 0%;
                    opacity: 1;
                }
                .menuicon{
                    span{
                        background-color: #fff;
                    }
                }
            }
        }
    }
    footer{
        padding: 60px 0 80px;
        .footer-wrap{
            .top{
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 30px;

            }
            .bottom{
                padding-top: 20px;
            }
        }
    }
}

@media (max-width: 767px){
    header{
        .header-wrap{
            .logo{
                width: 110px;
            }
            #gnb{
                height: 100%;
                top: 59px;
                padding-top: 50px;
                >li{
                    margin-bottom: 30px;
                    >a{
                        font-size: 30px;
                    }
                    .sub-menu{
                        font-size: 18px;
                        li{
                            margin-bottom: 10px;
    
                        }
                    }
                }
            }
            .lang{
                img{
                    width: 20px;
                    height: 20px;
                }
                ul{
                    margin-left: 10px;
                    font-size: 14px;
                    gap: 15px;
                    li{
                        &::after{
                            right: -7.5px;
                        }    
                    }
                }
            }
            .moblie_menu_wrap{
                font-size: 14px;
            }
        }
    }
    footer{
        padding: 50px 0 70px;
        .footer-wrap{
            .top{
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 30px;
                ul{
                    font-size: 14px;
                    gap: 10px 20px;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    li{
                        &::before{
                            display: none;
                            left: -11.5px;
                        }
                        &:nth-of-type(3){
                            width: 50%;
                        }
                    }
                }

            }
            .bottom{
                padding-top: 20px;
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 450px){
    header{
        padding: 20px 0;
        .header-wrap{
            .logo{
                width: 105px;
                height: 42px;
            }
            #gnb{
                top: 59px;
                >li{
                    margin: 15px 0;
                    >a{
                        font-size: 24px;
                        margin-bottom: 0;
                        @include transition(.5s);
                    }
                    .sub-menu{
                        font-size: 16px;
                        padding-left: 15px;
                        margin-top: 20px;
                    }
                    &:nth-of-type(1){
                        margin-top: 0;
                    }
                }
            }
            .lang{
                padding: 35px 5%;
                .icon{
                    width: 18px;
                    height: 18px;
                }
                ul{
                    font-size: 12px;
                }
            }
            .moblie_menu_wrap{
                font-size: 12px;
            }
        }
    }
    footer{
        padding: 40px 0 60px;
        .footer-wrap{
            .top{
                gap: 20px;
                ul{
                    gap: 10px 20px;
                    li{
                        // &:nth-of-type(3){
                        //     width: initial;
                        // }
                    }
                }
            }
        }
    }
}

@media (max-width: 380px){
    footer{
        .footer-wrap{
            .top{
                ul{
                    li{
                        &:nth-of-type(3){
                            width: initial;
                        }
                    }
                }

            }
        }
    }
}

